.nav {
    grid-area: nav;
    background-color: blue;
    color: white;
    font-size: 30px;
    min-width: 320px;
    width: 100%;
}
.nav a:hover{
    color: rgb(185, 98, 193);
}
.link{
    color: white;
}
.active{
    color: gold;
 }
.line{
    height: 1px;
    background-color: #ded6d6;
    margin-top: 20px;
}
