.dialogs{
    color: rgb(255, 255, 255);
    display: flex;
}
.message_text{
    margin-bottom: 12px;
}
.name{
    margin-bottom: 45px;
    margin-right: 50px;
}
.button{
    display: flex;
    justify-content: flex-end;
}
